<div class="titulo">
  <h1>Tutoriais gerais</h1>
</div>
<main>
  <div class="tutoriais">
    <h1>Mercado virtual</h1>
    <span class="material-icons" style="font-size: 36px;">storefront</span>
  </div>
  <div class="tutoriais" routerLink="doencas">
    <h1>Doenças</h1>
    <span class="material-icons" style="font-size: 36px;">sick</span>
  </div>
  <div class="tutoriais" routerLink="blocos-de-protecao">
    <h1>Blocos de proteção</h1>
    <span class="material-icons" style="font-size: 36px;">shield</span>
  </div>
  <div class="tutoriais" routerLink="loja-virtual">
    <h1>Criar Loja</h1>
    <span class="material-icons" style="font-size: 36px;">add_shopping_cart</span>
  </div>
  <div class="tutoriais" routerLink="livros-encantados">
    <h1>Livros encantados</h1>
    <span class="material-icons" style="font-size: 36px;">menu_book</span>
  </div>
  <div class="tutoriais" routerLink="valhallammo">
    <h1>Valhalla MMO</h1>
    <span class="material-icons" style="font-size: 36px;">fort</span>
  </div>
  <div class="tutoriais" routerLink="slimefun">
    <h1>Slime fun</h1>
    <span class="material-icons" style="font-size: 36px;">rocket</span>
  </div>
  <div class="tutoriais" routerLink="villagers">
    <h1>Villagers</h1>
    <span class="material-icons" style="font-size: 36px;">psychology</span>
  </div>

</main>
