
<div class="container2">
  <h1>Servidor aberto 24 horas</h1>
  <br>
  <div class="bloco2">
    <div class="imagemdireita">
      <img src="imagens/menu/logo.jpg" alt="" >
    </div>
  </div>
  <div class="bloco2">
    <p>Servidor aberto 24 horas por dia, e com backups sendo realizados sempre, para você não perder nada!
      <strong> IP: oldschoolmc.enxada.host</strong>
    </p>
  </div>
</div>
<div class="container1">
  <h1>Venha se divertir!</h1>

  <div class="bloco2">
    <p>Servidor sempre atualizado com plugins exclusivos para a sua melhor imersão e a sua experiência!
      <strong> IP: oldschoolmc.enxada.host</strong>
    </p>
  </div>
  <div class="bloco1">
    <div class="imagemdireita">
      <img src="imagens/home/img.webp"/>
    </div>
  </div>
</div>
<div class="container2">
  <p class="ip"><b>IP: </b>oldschoolmc.enxada.host </p>
</div>
