h1 {
  margin-top: 25px;
  display: block;
  text-align: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}


.container1 {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: 2rem;
    margin-top: 30px;
    flex: 0 0 100%;
    text-align: center;
  }
}
.bloco1 {
  flex: 0 0 40%;
  display: flex;
  margin-bottom: 10px;
  margin: 0.90%;
  align-items: center;

  .imagemdireita{
    text-align: right;

    img {
      max-width: 98%; /* Reduz tamanho da imagem */
      margin-right: 20px; /* Adiciona espaço à direita */
      border-radius: 14px;
    }
  }

  p {
    margin: 0;
    text-align: left;
    font-size: 1.2rem;
  }
}


.container2 {
    background-color: #FBE3BD;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    h1 {
      font-size: 30px;
      margin-top: 30px;
      flex: 0 0 100%;
      text-align: center;
    }
  p{
    font-size: 1.2rem;
  }
  .ip{
    font-size: 1.5rem;
  }
}
.bloco2 {
  flex: 0 0 40%;
  display: flex;
  margin-bottom: 10px;
  margin: 0.90%;
  align-items: center;

  .imagemdireita{
    text-align: right;

    img {
      max-width: 60%; /* Reduz tamanho da imagem */
      margin-right: 20px; /* Adiciona espaço à direita */
      border-radius: 14px;
    }
  }

  p {
    font-size: 1.4rem;
    margin: 0;
    text-align: left;
  }
}


@media (max-width: 768px) {
  .container2{
    max-width: 98%;
    padding:0;
    margin: 0;
  }
  .bloco2, .bloco1 {
    flex-basis: 95%;
    max-width: 100%;
    padding:0;
    margin: 0;
    img{
      text-align: center;
      justify-items: center;
      margin: 0;
      width: 100%;
      max-width: 100%;
    }
  }

}


