
<div class="titulo">
  <h1>Regras!</h1>
  <p>Leia as regras e evite ser banido!</p>
</div>

<main>
  <ul>
    <li><span class="material-icons">gavel</span>é totalmente proibido fazer nado sincronizado individual</li>
    <li><span class="material-icons">gavel</span>repassar a foto do negão da piro**</li>
    <li><span class="material-icons">gavel</span>Iludir os staffs falando que ama eles</li>
    <li><span class="material-icons">gavel</span>Responder a mãe com ignorancia</li>
    <li><span class="material-icons">gavel</span>Jogar uno e quando chegar na ultima carta não gritar UNO!</li>
  </ul>

</main>
