<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" ngSkipHydration>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">chat</mat-icon>
      Discord
    </ng-template>
    <main>
      <div class="blog-post">
  <h1>Regras!</h1>
  <p>Leia as regras e evite ser banido!</p>

<main>
  <h2>Regras do Discord</h2>
  <ul>
    <li>O servidor do Discord está disponível para qualquer pessoa.</li>
    <li>Use as salas de voz de acordo com suas respectivas funções.</li>
    <li>Proibido utilizar comandos de bot em canais que não são para esse uso.</li>
    <li>Proibido o uso de linguagem racista, homofóbica, abusiva ou qualquer outro discurso de ódio.</li>
    <li>Proibida a divulgação de outros servidores no Discord.</li>
    <li>Não perturbe outros jogadores.</li>
    <li>Qualquer postagem com conteúdo pornográfico é estritamente proibida.</li>
    <li>É estritamente proibido o envio de links +18 em chats públicos.</li>
    <li>Proibido poluição sonora nos canais de voz.</li>
    <li>Proibido divulgar streams ou vídeos fora do canal "chat-divulgação".</li>
  </ul>
  <p><strong>Atenção:</strong> As regras podem ser alteradas a qualquer momento. Fique atento aos comunicados oficiais.</p>
</main>
</div>
    </main>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">view_in_ar</mat-icon>
      Servidor
    </ng-template>
    <main>
      <div class="blog-post">
        <h1>Regras!</h1>
        <p>Leia as regras e evite ser banido!</p>

        <h2>Regras do Servidor</h2>
        <ul>
          <li>Proibido o uso de texturas, mods ou programas que deem vantagem (como X-Ray).</li>
          <li>Proibido o abuso de bugs, sejam eles do jogo ou do servidor.</li>
          <li>Proibido grief.</li>
          <li>Proibido qualquer tipo de racismo, discurso de ódio, postura abusiva, homofóbica, machista ou xenofóbica.</li>
          <li>É proibido falar no chat global em idiomas fora de PT-BR, PT-PT ou EN.</li>
          <li>Proibido flood/spam (repetir mensagens).</li>
          <li>Proibido uso de CAPS LOCK (mensagens inteiras em caixa alta).</li>
          <li>Não incomode outros jogadores.</li>
          <li>Não brigue no chat, seja no global ou por mensagem privada.</li>
          <li>Proibido farm 100% automática.</li>
          <li>Proibido insultar o SBT.</li>
          <li>Proibido roubar residências de outros jogadores.</li>
          <li>Proibido nicks ou skins ofensivas.</li>
          <li>Em caso de dúvida sobre regras ou mods permitidos, entre em contato com a staff.</li>
        </ul>
        <p><strong>Atenção:</strong> As regras podem ser alteradas a qualquer momento. Fique atento aos comunicados oficiais.</p>
      </div>
    </main>
  </mat-tab>
</mat-tab-group>
