.titulo{
  h1{
    text-align: center;
  }
}

main{
  text-align: center;
  .colaborador{
    width: 200px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    padding: 7px;
    img{
      width: 200px;
      height: auto;
    }
    h1{
      font-size: 23px;
      text-align: center;
    }
    p{
      text-align: center;

    }
  }
}
