<div class="titulo">
  <h1>Colaboradores</h1>
</div>
<main>
  <div class="colaborador">
    <img src="imagens/colaboradores/body (1).png" alt="">
    <h1>Pedro</h1>
    <p>Dono</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/body (5).png" alt="">
    <h1>Marano</h1>
    <p>Desenvolvedor</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/body (2).png" alt="">
    <h1>game_with_coffee</h1>
    <p>Administrador</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/body (10).png" alt="">
    <h1>_Matheuslol_</h1>
    <p>Administrador</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/body (11).png" alt="">
    <h1>Lynna</h1>
    <p>Administrador</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/body (7).png" alt="">
    <h1>TheodoroGames04</h1>
    <p>Administrador</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/body.png" alt="">
    <h1>KafkaLover69</h1>
    <p>Administrador</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/body (8).png" alt="">
    <h1>GustavoG4mer</h1>
    <p>Moderador</p>
  </div>
  <div class="colaborador">
<!--    <img src="imagens/colaboradores/Marano.png" alt="">-->
    <h1>MariMangle</h1>
    <p>Moderador</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/body (4).png" alt="">
    <h1>sam_hsilva</h1>
    <p>Moderador</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/body (12).png" alt="">
    <h1>zDuda30</h1>
    <p>Suporte</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/body (6).png" alt="">
    <h1>Sotheros</h1>
    <p>Suporte</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/body (9).png" alt="">
    <h1>DavidBraga</h1>
    <p>Suporte</p>
  </div>

</main>
