<div class="titulo">
  <h1>Colaboradores</h1>
</div>
<main>
  <div class="colaborador">
    <img src="imagens/colaboradores/Marano.png" alt="">
    <h1>Pedro</h1>
    <p>Dono</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/Marano.png" alt="">
    <h1>Marano</h1>
    <p>Desenvolvedor</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/Marano.png" alt="">
    <h1>eric_fongaro</h1>
    <p>Administrador</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/Marano.png" alt="">
    <h1>Theodoro</h1>
    <p>Administrador</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/Marano.png" alt="">
    <h1>Kafka</h1>
    <p>Administrador</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/Marano.png" alt="">
    <h1>GustavoG4mer</h1>
    <p>Moderador</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/Marano.png" alt="">
    <h1>MariMangle</h1>
    <p>Moderador</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/Marano.png" alt="">
    <h1>Sotheros</h1>
    <p>Suporte</p>
  </div>
  <div class="colaborador">
    <img src="imagens/colaboradores/Marano.png" alt="">
    <h1>zDuda</h1>
    <p>Suporte</p>
  </div>

</main>
